GOOGLE_SHEET_ID="1ATo4_HoKNeC9rkFi-RGnzoYoKG3KFI7wJ7uJgt1Obko"
GOOGLE_SERVICE_ACCOUNT_EMAIL="dblocal@testdb-508001.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="AIzaSyAN5sYHctrPRtxtmWCC7BSzz0fPHaf6cJ0"
NEXT_PUBLIC_BASE_URL=http://localhost:3000
ADMIN_PASSWORD=Jan262004
